@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #e5e7eb;
  --color-secondary: #fde047;
  --color-danger: #ef4444;
  --color-bg: #1e1e1e;
  --color-text: #e5e7eb;
  --color-card: #252525;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #e5e7eb;
    --color-secondary: #fde047;
    --color-error: #ef4444;
    --color-background: #1e1e1e;
    --color-text: #e5e7eb;
    --color-text-danger: #ef4444;
    --color-foreground: #e5e7eb;
    --color-card: #252525;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
